/*  This will hold our individual city show page css  */

.backbutton {
  width: 30px;
  height: 30px;
  margin: 25px;
  background: url('backbutton.png') no-repeat;
  background-size: contain;
}

.day {
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  width: 30%;
  padding: 11px;
}

.five-day-container {
  display: flex;
  margin-top: 30px;
}
