/*  This will hold our home page css  */


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  text-align: center;
}

.weather-icon {
  margin-bottom: -20px;

}
.name {
  display: block;
  font-size: 38px;
  margin-bottom: -10px;
}

.desc {
text-align: left;
font-size: 16px;
padding: 10px;
display: inline-block;

}
.temp {
  display: inline-block;
  font-size: 18px;
}
.city-list {
padding: 5px;
text-align: center;
margin: 0 auto;
border-bottom: 2px solid black;
width:380px;
}

.city-list:hover {
  background-color: #ffd025;
}

h3 {
  padding: 0;
  margin: 3px;
}
.cf {
       width: 130px;
       height: 130px;
       margin: 20px auto;
      transition: 0.7s;
      display: inline-block;
      background: url('sunny.png') no-repeat;
   }

 .cf:hover {
   transform: rotate(5deg);
   background: url('night.png') no-repeat;
 }


.signout-button {
  float:right;
  width: 8%;
  background-color: #008CBA;
  color: white;
  padding: 12px 16px;
  margin: 18px 10px;
  border: 2px solid #008CBA;
  border-radius: 9px;
  cursor: pointer;
}

.search-form {
  text-align: center;
  margin-top: 60px;
}

input[type=text], select {
    width: 25%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #008CBA;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 8%;
    background-color: #008CBA;
    color: white;
    padding: 18px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffd025;
}
