
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  text-align: center;
}

.five-day-container {
  margin: 0 auto;
}
.name {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  float: left;
  font-size: 38px;
  color: black;
  font-weight: bolder;
  margin-bottom: -10px;
}

a {
  color: black;
  text-decoration: none;
}
.desc {
text-align: left;
font-size: 16px;
padding: 10px;
margin-top: 35px;
display: inline-block;

}
.temp {
  display: inline-block;
  font-size: 18px;
      margin-top: 35px;
}
.city-list {
padding: 5px;
text-align: center;
margin: 15px auto 30px;
border: 1px solid #F5F5F5;
border-left: 10px solid #ffd025;
border-radius: 5px;
width:700px;
height: 100px;
transition: all .2s ease-in-out;
}

.city-lists {
padding: 5px;
text-align: center;
margin: 15px auto 30px;
border: 1px solid #F5F5F5;
border-left: 10px solid #ffd025;
border-radius: 5px;
width:700px;
height: 400px;
transition: all .2s ease-in-out;
}


.city-list:hover {
  background-color: #ffd025;
  transform: scale(1.1);
}
.city-lists:hover {
  background-color: #ffd025;
  transform: scale(1.1);
}

.loader-div {
    background: url('a.gif') no-repeat;
    background-color: white;
    height: 460px;
    width: 790px;
    margin-left: -80px;
    margin-top: -100px;
    background-position: center;
    background-size: contain;
}

h3 {
  padding: 0;
  margin: 3px;
}

.cf {
      width: 6%;
      height: 130px;
      margin: 10px auto;
      margin-top: -15px;
      margin-left: 20px;
      transition: 0.7s;
      float: left;
      background: url('sunny.png') no-repeat;
      background-size: contain;
   }


 .cf:hover {
   transform: rotate(5deg);
   background: url('night.png') no-repeat;
   background-size: contain;
 }

.searches {
  background: url('b.png') no-repeat;
  background-size: auto;
}

.signout-button {
  float:right;
  width: 80px;
  background-color: #008CBA;
  color: white;
  padding: 12px 16px;
  margin: 10px 20px;
  border: 2px solid #008CBA;
  border-radius: 5%;
  cursor: pointer;
}

.search-form {
  text-align: center;
  margin-top: 30px;
}

input[type=text], select {
    width: 25%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #008CBA;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #008CBA;
    color: white;
    margin: 8px 10px;
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffd025;
}
input:focus {
    outline: none;
}
.weather-icon {
  width: 90px;
  height:90px;
  float: right;
  margin-bottom: -30px;
}

.ind-weather-icon {
  width: 60px;
  height:60px;
}
