/*  This will hold our login page css  */
div {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
}
.login-form {
  text-align: center;
}
.login-input {
  width: 25%;
  padding: 22px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #008CBA;
  background-color: #F8F8F8;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
}

.login-input:focus {
    outline: none;
}

.create-profile {
  text-align: center;
  font-weight: lighter;
  margin-top: 30px;
  letter-spacing: .3px;
}

.submit-button {
  height: 200px;
  background-color: #008CBA;
  color: white;
  padding: 20px 15px;
  margin: 10px 10px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  text-decoration: none;
}

.submit-button:hover {
  background-color: #ffd025;
}
